numpy==2.4.0
pandas==2.3.3
oct2py==5.8.0
matplotlib==3.10.8
openpyxl==3.1.5

matpowercaseframes==2.0.1
pypglib==0.0.3

pytest==9.0.2
pytest-cov==7.0.0
pytest-xdist==3.8.0

jupyter==1.1.1
nbmake==1.5.5

setuptools==80.9.0

pre-commit==3.7.1
nb-clean==4.0.1
ruff==0.14.11
