numpy>=1.21.5
pandas>=2.0.3
oct2py>=5.5.1
matplotlib>=3.5.3
openpyxl>=3.1.2

matpowercaseframes>=1.0.7
pypglib>=0.0.1

pytest
pytest-cov
pytest-xdist

jupyter
nbmake

pre-commit==3.7.1
nb-clean==3.2.0
ruff==0.4.5
